$header-color: rgb(252, 252, 252);
$color-text-alt: rgb(37, 37, 37);
$color-text-white: rgb(236, 236, 236);
$color-video: #999;
$color-btn-one:rgb(233, 231, 231);
$color-btn-two:#A86674;
$color-shortcut:#A9D0D8;
* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

@import "_header.scss";
main {
    #site-video {
        background-image: url("image/hero-image.webp");
        height: 80vh;
    }
    h1 {
        color: $color-text-white;
        text-align: center;
        padding-top: 15%;
        font-size: 5rem;
    }
    button {
        width: 200px;
        height: 50px;
        border-radius: 25px;
        background-color: black;
        border: none;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    #one {
        background-color: $color-btn-one;
    }
    #two {
        background-color: $color-btn-two;
    }
    button a {
        text-decoration: none;
        color: $color-text-white;
        font-size: 1rem;
    }
    #one a {
        color: $color-text-alt;
    }
    #flex {
        display: flex;
        gap: 5rem;
        justify-content: center;
    }
    #arow img {
        height: 100px;
        width: 100px;
        margin: auto 50%;
        transform: translate(-50%, 10%);
    }
}

#site-about {
    margin-top: 5%;
    display: flex;
    margin-left: 30%;
    transform: translate(-20%);
}

#site-about img {
    height: 600px;
    width: 100%;
}

#about-text {
    background-color: $color-btn-two;
    width: 100%;
    height: 500px;
    border-radius: 0 70px 70px 0;
    margin-top: 40px;
    color: $color-text-white;
    text-align: center;
}

#site-shortcut {
    width: 100%;
    height: 400px;
    background-color: $color-shortcut;
    margin-top: 5%;
    margin-bottom: 5%;
    #shortcut-icon {
        background-color: white;
        border-radius: 100px;
        height: 200px;
        width: 200px;
    }
    #flexbox {
        display: flex;
        gap: 5rem;
        justify-content: center;
        align-items: center;
    }
    h1 {
        text-align: center;
        padding: 50px;
    }
    h2 {
        text-align: center;
        color: rgb(104, 104, 104);
        font-size: 1.2rem;
        font-weight: 400;
        margin-top: 5px;
    }
}

@media screen and (max-width: 900px) {
    #site-about {
        flex-direction: column;
        margin-left: 20%;
        transform: translate(-10%);
        ;
    }
    #about-text {
        border-radius: 0;
    }
    #site-video {
        overflow: hidden;
    }
    #flexbox {
        flex-direction: column;
    }
    #site-shortcut {
        height: 100%;
        padding-bottom: 50px;
    }
    .icon-two,
    .icon-tree,
    .icon-four {
        display: none;
    }
}