.main-header {
    display: -ms-grid;
    display: grid;
    gap: 10px;
    grid-template: 'nav logo tools';
    grid-template-columns: repeat(3, 1fr);
    padding: 18px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.main-header a {
    text-decoration: none;
    font-weight: 400;
}

.main-header__logo {
    grid-area: logo;
    font-size: 2.4rem;
    font-weight: 600;
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    background-image: url("../image/Logo.png");
    height: 100px;
    width: 100px;
    background-size: cover;
    ;
}

.main-header__nav {
    grid-area: nav;
    -ms-grid-column-align: start;
    justify-self: start;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    float: right;
}

.main-header__nav .menu {
    display: none;
    padding: 0;
    list-style: none;
}

.main-header__nav .menu .menu-item {
    display: inline-block;
    padding: 0 32px;
}

.main-header__nav .menu .menu-item:hover .sub-menu {
    display: block;
}

.main-header__nav .menu-link {
    width: 2.4rem;
    height: 1.4rem;
    position: relative;
}

.main-header__nav .menu-link span {
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    height: 0.2rem;
    background-color: black;
}

.main-header__nav .menu-link span:first-child {
    top: 0;
}

.main-header__nav .menu-link span:last-child {
    bottom: 0;
}

.main-header__nav .sub-menu {
    display: none;
    padding: 0;
    position: absolute;
    background-color: #fff;
    min-width: 140px;
    z-index: 1;
}

.main-header__nav .sub-menu .menu-item {
    padding: 0;
    display: block;
}

.main-header__nav .sub-menu .menu-item a {
    text-decoration: none;
    display: block;
    padding: 0.6rem 1rem;
}

.main-header__nav .sub-menu .menu-item a li {
    padding: 0;
    display: block;
    text-align: center;
}

.main-header__nav .sub-menu .menu-item a:hover {
    background-color: #ddd;
}

.main-header__tools {
    grid-area: tools;
    -ms-grid-column-align: end;
    justify-self: end;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.main-header__tools .tools-icon {
    padding: 0.6rem;
}

@media screen and (min-width: 768px) {
    .main-header {
        grid-template: 'logo nav tools';
        background-color: rgba(255, 255, 255, 1);
    }
    .main-header__logo {
        -ms-grid-column-align: start;
        justify-self: start;
    }
    .main-header__nav {
        -ms-grid-column-align: center;
        justify-self: center;
    }
    .main-header__nav .menu {
        display: block;
    }
    .main-header__nav .menu-link {
        display: none;
    }
}


/* Mobile Menu
  ==============================================*/

.mobile-menu {
    display: none;
    margin-top: 80px;
}

.mobile-menu .menu {
    padding: 0;
    list-style-type: none;
}

.mobile-menu .menu a {
    padding: 0.6rem 1rem;
    display: block;
    text-align: center;
    text-decoration: none;
}

.mobile-menu .menu .menu-item:hover .sub-menu {
    display: block;
}

.mobile-menu .sub-menu {
    display: none;
    padding: 0;
    background-color: #fff;
    min-width: 140px;
    z-index: 1;
}

.mobile-menu .sub-menu .menu-item {
    padding: 0;
    display: block;
}

.mobile-menu .sub-menu .menu-item a {
    text-decoration: none;
    display: block;
    padding: 0.6rem 1rem;
}

.mobile-menu .sub-menu .menu-item a li {
    padding: 0;
    display: block;
    text-align: center;
}

.mobile-menu .sub-menu .menu-item a:hover {
    background-color: #ddd;
}