.main-header {
    display: -ms-grid;
    display: grid;
    gap: 10px;
    grid-template: 'nav logo tools';
    grid-template-columns: repeat(3, 1fr);
    padding: 18px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1
}

.main-header a {
    text-decoration: none;
    font-weight: 400
}

.main-header__logo {
    grid-area: logo;
    font-size: 2.4rem;
    font-weight: 600;
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center
}

.main-header__nav {
    grid-area: nav;
    -ms-grid-column-align: start;
    justify-self: start;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    float: right
}

.main-header__nav .menu {
    display: none;
    padding: 0;
    list-style: none
}

.main-header__nav .menu .menu-item {
    display: inline-block;
    padding: 0 32px
}

.main-header__nav .menu .menu-item:hover .sub-menu {
    display: block
}

.main-header__nav .menu-link {
    width: 2.4rem;
    height: 1.4rem;
    position: relative
}

.main-header__nav .menu-link span {
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    height: 0.2rem;
    background-color: black
}

.main-header__nav .menu-link span:first-child {
    top: 0
}

.main-header__nav .menu-link span:last-child {
    bottom: 0
}

.main-header__nav .sub-menu {
    display: none;
    padding: 0;
    position: absolute;
    background-color: #fff;
    min-width: 140px;
    z-index: 1
}

.main-header__nav .sub-menu .menu-item {
    padding: 0;
    display: block
}

.main-header__nav .sub-menu .menu-item a {
    text-decoration: none;
    display: block;
    padding: 0.6rem 1rem
}

.main-header__nav .sub-menu .menu-item a li {
    padding: 0;
    display: block;
    text-align: center
}

.main-header__nav .sub-menu .menu-item a:hover {
    background-color: #ddd
}

.main-header__tools {
    grid-area: tools;
    -ms-grid-column-align: end;
    justify-self: end;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center
}

.main-header__tools .tools-icon {
    padding: 0.6rem
}

@media screen and (min-width: 768px) {
    .main-header {
        grid-template: 'logo nav tools';
        background-color: rgba(255, 255, 255, 0)
    }
    .main-header__logo {
        -ms-grid-column-align: start;
        justify-self: start
    }
    .main-header__nav {
        -ms-grid-column-align: center;
        justify-self: center
    }
    .main-header__nav .menu {
        display: block
    }
    .main-header__nav .menu-link {
        display: none
    }
}

.mobile-menu {
    display: none;
    margin-top: 80px
}

.mobile-menu .menu {
    padding: 0;
    list-style-type: none
}

.mobile-menu .menu a {
    padding: 0.6rem 1rem;
    display: block;
    text-align: center;
    text-decoration: none
}

.mobile-menu .menu .menu-item:hover .sub-menu {
    display: block
}

.mobile-menu .sub-menu {
    display: none;
    padding: 0;
    background-color: #fff;
    min-width: 140px;
    z-index: 1
}

.mobile-menu .sub-menu .menu-item {
    padding: 0;
    display: block
}

.mobile-menu .sub-menu .menu-item a {
    text-decoration: none;
    display: block;
    padding: 0.6rem 1rem
}

.mobile-menu .sub-menu .menu-item a li {
    padding: 0;
    display: block;
    text-align: center
}

.mobile-menu .sub-menu .menu-item a:hover {
    background-color: #ddd
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth
}

* a {
    color: white
}

* #site-video {
    background-image: url("../image/hero-image.webp");
    height: 93vh;
    background-position: center
}

* #site-video h1 {
    color: #ececec;
    text-align: center;
    padding-top: 15%;
    font-size: 5rem;
    font-family: "Elsie"
}

* #site-video button {
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: black;
    border: none;
    margin-top: 2%;
    margin-bottom: 5%
}

* #site-video #one {
    background-color: #e9e7e7
}

* #site-video #two {
    background-color: #A86674
}

* #site-video button a {
    text-decoration: none;
    color: #ececec;
    font-size: 1rem
}

* #site-video #one a {
    color: #7c7c7c
}

* #site-video #flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

* #site-video #arow {
    height: 100px;
    width: 100px;
    margin-left: 50%;
    margin-top: 10vh;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    background-image: url("../image/white-down-arrow-png-2.png");
    background-size: cover
}

* #site-about {
    margin-top: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 30%;
    -webkit-transform: translate(-20%);
    transform: translate(-20%)
}

* #site-about #main {
    height: 600px;
    width: 100%;
    background-image: url("../image/portrait.jpg");
    background-size: cover
}

* #site-about #about-text {
    background-color: #A86674;
    width: 100%;
    height: 500px;
    border-radius: 0 70px 70px 0;
    margin-top: 40px;
    color: #ececec;
    text-align: center
}

* #site-about h2 {
    font-family: "Elsie";
    font-weight: 500;
    font-size: 2rem
}

* #site-about p {
    padding: 0 10%
}

* #site-shortcut {
    width: 100%;
    height: 400px;
    background-color: #A9D0D8;
    margin-top: 5%;
    margin-bottom: 5%
}

* #site-shortcut h1 {
    text-align: center;
    padding: 50px;
    color: #7c7c7c;
    font-family: "Elsie";
    font-weight: 500;
    font-size: 2rem
}

* #site-shortcut #flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

* #site-shortcut #flexbox h2 {
    text-align: center;
    color: #686868;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 5px
}

* #site-shortcut #flexbox .shortcut-icon {
    border-radius: 100px;
    height: 200px;
    width: 200px
}

* #site-shortcut #flexbox #icon-one {
    background-image: url("../image/vase.png");
    background-size: cover
}

* #site-shortcut #flexbox #icon-two {
    background-image: url("../image/krus.png");
    background-size: cover
}

* #site-shortcut #flexbox #icon-tree {
    background-image: url("../image/stor.png");
    background-size: cover
}

* #site-shortcut #flexbox #icon-four {
    background-image: url("../image/lille.png");
    background-size: cover
}

* #site-instergram {
    text-align: center;
    color: #7c7c7c;
    line-height: 30px;
    margin-top: 100px
}

* #site-grid {
    margin: 50px 15%;
    display: grid;
    height: 700px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
    grid-template-areas: "pic1 pic2" "pic1 pic3"
}

* #site-grid #pic1 {
    grid-area: pic1;
    background-image: url("../image/photo-1610128361323-6e941c97f023.webp");
    background-size: cover
}

* #site-grid #pic2 {
    grid-area: pic2;
    background-image: url("../image/photo-1610701596007-11502861dcfa.webp");
    background-size: cover
}

* #site-grid #pic3 {
    grid-area: pic3;
    background-image: url("../image/photo-1595351298020-038700609878.webp");
    background-size: cover
}

#site-footer {
    height: 300px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #A86674
}

#site-footer ul {
    margin-top: 10%
}

#site-footer ul li {
    width: 100px;
    margin-left: 250px
}

#site-footer ul li a {
    color: #ececec;
    text-decoration: none;
    font-size: 1rem;
    line-height: 30px
}

@media screen and (max-width: 900px) {
    #site-about {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-left: 20%;
        -webkit-transform: translate(-10%);
        transform: translate(-10%)
    }
    #site-about #about-text {
        border-radius: 0
    }
    #site-video {
        overflow: hidden
    }
    #site-video #flex {
        gap: 1rem
    }
    #site-video #arow {
        margin-top: 30vh
    }
    #flexbox {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
    #site-shortcut {
        height: 100%;
        padding-bottom: 50px
    }
    .icon-two,
    .icon-tree,
    .icon-four {
        display: none
    }
    #site-video h1 {
        margin-top: 10%
    }
    #site-footer ul li {
        margin-left: 100px
    }
    #site-grid {
        height: 900px;
        width: 80%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "pic3" "pic2" "pic1";
        margin: 50px 10%
    }
}


/*# sourceMappingURL=style.css.map */